<h1> This is the blog about page </h1>

<h4> Reasons why ice cream is great</h4>
<ul>
	<li> It's cheap </li>
	<li> It has sugar in it, and we are addicted to sugar </li>
	<li> It has calcium and protein </li>
	<li> There's a flavor for everyone </li>
</ul>

	<%= link_to "Home", :controller => "pages", :action => "home" %>